.Main_chat

  .RightHeader
    .RightHeader__Box
      .RightHeader__Group
        = @group.name
        %ul.RightHeader__List
          Member :
          %li.RightHeader__name
            - @group.users.each do |user|
              = user.name
    = link_to 'Edit', edit_group_path(@group.id), class: "RightHeader__Edit-btn" 

  .MessageField
    = render @messages

  .Form
    = form_for [@group, @message] do |f|
      .Form-box
        = f.text_field :content, class: 'Form__inputMessage', placeholder: 'type a message'
        .Form__inputImages
          = f.label :image, class: 'Form__inputImage' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__send-btn'

