.SideBar
  .TopItem
    .TopItem__list
      %h3.TopItem__Name
        = current_user.name
      %ul.TopItem__iconList
        %li.TopItem__Icon
          = link_to "#", class:"TopItem__icon" do
            = icon('fas', 'edit')
        %li.TopItem__Icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .Group
    .Group__list
      = link_to '#', class:"Group__list" do
        .Group__name
          techcamp
        .Group__massage
          まだメッセージがありません
